.table-customer {
    width: 100%;
    border-collapse: collapse;
}

.table-customer th, .table-customer td {
    border: 1px solid #ddd;
    padding: 12px;
}

.table-customer th {
    background-color: #fb8c00;
    color: white;
}

.table-customer tr:nth-child(even) {
    background-color: #f9f9f9;
}
